.button{
    background-color: #8357c5;
    border: none;
    border-bottom: .3rem solid #724bb1;
    color: #fff;
    font-weight: 500;
    padding: 1.2rem 1.5rem;
}

.button-link{
    background: none;
    border: none;
    color: #a5afd7;
    padding: 0;
}

.widget-header{
    background-color: #3c4251;
    color: #a5afd7;
    padding: 1.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.widget-header h3{
    margin: 0;
    font-size: 1.5rem
}

.widget{
    background-color: #464b5e;
}
.widget-message{
    text-align: center;
    padding: 2.6rem;
    color: #a5afd7;
    font-size: 1.3rem;
    border-bottom: .2px solid #a5afd7;
    margin: 0;
}

form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.3rem;
    width: 100%;
}

form input{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-color: #3c4251;
    border: none;
    border-bottom: .3rem solid #32363f;
    font-size: 2rem;
    padding-left: 1.2rem;
    width: 100%;
}