.widget-header{
    background-color: #3c4251;
    color: #a5afd7;
    padding: 1.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 2px;
}

