.header{
    background-color: #20222b;
    margin-bottom: 3.4rem;
    padding: 3.2rem 0;
    color: white;
}

.header h1{
    font-size: 3.2rem;
    margin: 0;
    font-weight: 400;
}

.header h2{
    color: #a5afd7;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0;
}